/*inicio formato formulario interior*/
div#contacts_form_meta_box.postbox {
    width: 60%;
}

div.form2bc{
	display:flex;
}

div.form3bc{
	display:flex;
}

div.form2bc input {
    width: 350px;
    margin-right: 30px;
}

div.form3bc input {
    width: 230px;
    margin-right: 20px;
}

#addressbc {
    width: 730px;
}

#notesbc {
    width: 730px;
}
/*fin formato formulario interior*/


/*inicio formato formulario exterior*/

form.cuestionario {
    width: 600px;
}
form.cuestionario label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form.cuestionario .form-input {
    padding: 1em;
}
form.cuestionario .form-input input[type='text'],
form.cuestionario .form-input input[type='email'] {
    display: block;
    width: 100%;
}
p.exito {
    font-size: 1.5em;
    padding: 1em;
    border: 2px solid green;
    background: lightgreen;
}
p.error {
    font-size: 1.5em;
    padding: 1em;
    border: 2px solid red;
    background: #ff8787;
}


/*fin formato formulario exterior*/